[Unit]
Description=Keeps a tunnel to 'isengard' open
After=network.target
Requires=autojump.service

[Service]
User=ntd
Restart=always
RestartSec=30
ExecStartPre=/bin/sh -c \
    "while ! ssh -O check jumpbox.mines.edu;  \
        do sleep 0.1; \
    done"
ExecStart=/usr/bin/ssh -NT autoisengard

[Install]
WantedBy=multi-user.target
