[Unit]
Description=Keeps a tunnel to 'bender' open
After=network.target
Requires=autojump.service

[Service]
User=ntd
Restart=always
RestartSec=30
ExecStartPre=/bin/sh -c \
    "while [ ! -S /home/ntd/.ssh/master-ndantam@jumpbox.mines.edu:22 ];  \
        do sleep 1; \
    done"
ExecStart=/usr/bin/ssh -T autobender "ssh -NT autofarnsworth"

[Install]
WantedBy=multi-user.target
