[Unit]
Description=Keeps a tunnel to 'bender' open
After=network.target

[Service]
User=ntd
Restart=always
RestartSec=15
ExecStart=/usr/bin/autossh -NT autobender

[Install]
WantedBy=multi-user.target
