[Unit]
Description=SSH tunnel to 'isengard'
Requires=autojump.service

[Service]
Restart=on-failure
RestartSec=30
ExecStartPre=/bin/sh -c \
    "while ! ssh -O check jumpbox.mines.edu;  \
        do sleep 0.1; \
    done"
ExecStart=/usr/bin/ssh -NT autoisengard

[Install]
WantedBy=default.target
